<footer>
	<section class="section-footer">

		<div class="footer-logo-rs">
		<img src="{{asset('logo/logo_rs_footer.png')}}" alt="">
		</div>


		<h6>NOUS SUIVRE</h6>

		<div class="logo-footer">
			<a href=""><img src="{{asset('logo/insta.png')}}" alt=""></a>
			<a href=""><img src="{{asset('logo/facebook.png')}}" alt=""></a>
		</div>

	</section>

</footer>
