<footer>
	<section class="section-footer">
		<article>
			<div class="footer-logo-rs"><img src="{{asset('logo/logo_rs_footer.png')}}" alt=""></div>
		</article>
		<article>
			<h6>NOUS SUIVRE</h6>
		</article>
		<article>
			<div class="logo-footer"><img src="{{asset('logo/insta.png')}}" alt="">
				<img src="{{asset('logo/facebook.png')}}" alt=""></div>
		</article>
	</section>

</footer>
