<nav>

	<ul class="menu">
		<li>
			<a href="">DISCIPLINE</a>
		</li>
		<li>
			<a href="">PLANNING</a>
		</li>

		<li class="logo"><img src="{{ asset('/logo/logo_ring_side 1.png') }}" alt=""></li>
		<li>
			<a href="">TARIF</a>
		</li>
		<li>
			<a href="{{path('login')}}">
				<button class="button">SE CONNECTER</button>
			</a>
		</li>
	</ul>


</nav>
