{% extends 'base.html.twig' %}

{% block title %}Hello CoursController!{% endblock %}

{% block body %}

    <div style="margin-top: 200px" id='calendar'></div>
    <span id='events' data-event="{{ course|json_encode() }}"></span>

{# <a href="{{ path('cours_index') }}">Retour à la liste des cours</a> #}

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script>
        let events = document.querySelector('#events');

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'fr',
            height:900,
            firstDay: 1,
            hiddenDays:[0],
            initialView: 'timeGridWeek',
            headerToolbar: {
                start: 'title',
                center: '',
                end: 'timeGridWeek today prev,next'},
                slotMinTime: '09:00:00',
                slotMaxTime: '22:00:00',
                allDaySlot: false
            ,
            events: JSON.parse(events.getAttribute('data-event')),
        });
        calendar.render();
      });

    </script>
{% endblock %}
