{% extends 'base.html.twig' %}

{% block title %}Edit UserProfil{% endblock %}

{% block body %}
    <h1>Edit UserProfil</h1>

    {{ include('user_profil_modif/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_profil_modif_index') }}">back to list</a>

    {{ include('user_profil_modif/_delete_form.html.twig') }}
{% endblock %}
