{% extends 'base.html.twig' %}

{% block title %}New UserProfil{% endblock %}

{% block body %}
    <h1>Create new UserProfil</h1>

    {{ include('user_profil_modif/_form.html.twig') }}

    <a href="{{ path('app_user_profil_modif_index') }}">back to list</a>
{% endblock %}
