{% extends 'base.html.twig' %}

{% block title %}HomeController
{% endblock %}

{% block body %}
	<style></style>

	<header>
		<div class="hero">

			<h1>Votre salle d'entrainement</h1>
			<a href="">
				<button class="button">s'inscrire</button>
			</a>
		</div>
	</header>

	<main>

		<section class="concept">
			<div class="main-block">


				<article class="left">
					<div class="section-title">
						<h2>CONCEPT
						</h2>
						<div class="redLine"></div>
					</div>

					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, blanditiis cumque iusto tempora neque amet obcaecati accusantium, sint quibusdam quam, repudiandae illo! Iusto eius quidem velit quo quis explicabo obcaecati.</p>
					<div class="black-block">
						<h3>4 FORMATS POUR VOTRE PREPARATION</h3>
						<div class="square-triangle"></div>
					</div>


				</article>

				<article class="right">
					<div class="section-title">
						<h2>LIBRE ACCES</h2>
						<div class="redLine"></div>
					</div>

					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, iusto? Reiciendis molestias enim odit delectus quam, aut commodi quia laboriosam omnis non accusantium quod, eius ducimus autem, et repellat. Cumque.</p>
					<div class="black-block">
						<h3>6 DISCIPLINES "COMBAT" TOUT NIVEAUX</h3>
						<div class="square-triangle"></div>
					</div>

				</article>

			</div>
			<div class="program">

				<h3>45 COURS PAR SEMAINE</h3>
				<div class="grandLine"></div>

				<h3>10 DISCIPLINE</h3>
				{# <div class="redLine"></div> #}
				<hr class="grandLine">

				<h3>3 ZONE D'ENTRAINEMENT</h3>
			</div>
		</section>


	</div>


	<section class="discipline">
		<h4>DISCIPLINE</h4>
		<article class="grid">
			<div class="boxe-anglaise">
				<h6>BOXR ANGLAISE</h6>
				<div class="blackbarre"></div>
			</div>
			<div class="mma">
				<h6>MMA</h6>
			</div>
			<div class="lutte">
				<h6>LUTTE</h6>
			</div>
			<div class="kids">
				<h6>KIDS & ADOS</h6>
			</div>
			<div class="muay-thai">
				<h6>MUAY THAÏ</h6>
			</div>
			<div class="grappling">
				<h6>GRAPPLING</h6>
			</div>
			<div class="rs-boxing">
				<h6>RS BOXING</h6>
			</div>
			<div class="crossfit">
				<h6>CROSS FIT</h6>
			</div>
			<div class="piyo">
				<h6>PIYO</h6>
			</div>
		</article>

		<a href="" class="seemore">
			<button>VOIR PLUS</button>
		</a>
	</section>


</section>

<section class="section-title">
	<article class="blue">
		<h4>Planning</h4>
		<hr class="grandLine"></article>
	<article class="red">
		<div>
			<img src="{{asset('img/ringside_planning_2023-2024.png')}}" alt="">
		</div>
	</article>

</section>

<section class="contact">

	<div class="container">
		<div class="form-container">
			<article class="section-title">
				<h4>RINGSIDE</h4>
				<hr class="grandLine"></article>
			<article>
				{% include 'contact/contact.html.twig' %}
			</div>
			<div class="info-container">
				<div class="horaires">
					<h5>Horaire</h5>
					<p>Renseignements, visites et inscriptions :</p>
					<p>LUNDI AU VENDREDI :</p>
					<p>10h00 - 14h00</p>
					<p>17h00 - 20h00</p>
					<p>SAMEDI :</p>
					<p>9h30 – 13h00</p>
				</div>
				<div class="coordonnees">
					<h5>Coordonnées</h5>
					<p>ADRESSE</p>
					<p>12, Chemin des Gorges</p>
					<p>Bâtiment 28</p>
					<p>69570 DARDILLY</p>
				</div>
			</div>
			<div class="map-container">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2892.429743079799!2d4.803083076724141!3d45.771864371857166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ebfa04f3fafd%3A0x28b8f5e19e805d5c!2s12%20Chemin%20des%20Gorges%2C%2069570%20Dardilly%2C%20France!5e0!3m2!1sen!2sus!4v1626794445555!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
		</div>
	</section>
</main>{% endblock %}
