{% extends 'base.html.twig' %}

{% block title %}Hello AbonnementController!{% endblock %}

{% block body %}
    
 <section class="section-abonnement">

 <article class="beginner">

  <div class="plan">
              <div class="plan">
                <img src="{{asset('img/abonnement/rino.png')}}" alt="Fighter -">
                <h3>FIGHTER -</h3>
                <p>Ideal for individuals who need quick access to basic features.</p>
                <p class="price">€130 <span>/ per lesson</span></p>
                <button>Get Started Now</button>
                <ul>
                    <li>Accès à 10 séances cours collectifs au choix</li>
                    <li>Accès salle de sport</li>
                    <li class="disabled">Upload custom icons and fonts</li>
                    <li class="disabled">Unlimited Sharing</li>
                    <li class="disabled">Upload graphics & video in up to 4k</li>
                    <li class="disabled">Unlimited Projects</li>
                    <li class="disabled">Instant Access to our design system</li>
                    <li class="disabled">Create teams to collaborate on designs</li>
                </ul>
            </div>
 
 </article>


 <article class="semi-pro">
 

   <div class="plan">
                <img src="{{asset('img/abonnement/kong.png')}}" alt="Fighter - Beginner">
                <h3>FIGHTER - BEGINNER</h3>
                <p>Ideal for individuals who need advanced features and tools for client work.</p>
                <p class="price">€69 <span>/ month</span></p>
                <button>Get Started Now</button>
                <ul>
                    <li>20,000+ of PNG & SVG graphics</li>
                    <li>Access to 100 million stock images</li>
                    <li>Upload custom icons and fonts</li>
                    <li>Unlimited Sharing</li>
                    <li>Upload graphics & video in up to 4k</li>
                    <li>Unlimited Projects</li>
                    <li>Instant Access to our design system</li>
                    <li>Create teams to collaborate on designs</li>
                </ul>
            </div>
 
 </article>


 <article class="pro">
 


  <div class="plan">
                 <img src="{{asset('img/abonnement/tiger.png')}}" alt="">
                <h3>FIGHTER PRO</h3>
                <p>Ideal for businesses who need personalized services and security for large teams.</p>
                <p class="price">€690 <span>/ year</span></p>
                <button>Get Started Now</button>
                <ul>
                    <li>20,000+ of PNG & SVG graphics</li>
                    <li>Access to 100 million stock images</li>
                    <li>Upload custom icons and fonts</li>
                    <li>Unlimited Sharing</li>
                    <li>Upload graphics & video in up to 4k</li>
                    <li>Unlimited Projects</li>
                    <li>Instant Access to our design system</li>
                    <li>Suivi de progression</li>
                </ul>
            </div>
 
 </article>



 </section>

{% endblock %}
