
.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #333;
}

.form-container, .map-container {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
}
h4{
    color: white;
    font-size: 50px;
}
.info-container {
    background-color: white;
    height: 480px ;
    width: 355px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
    box-sizing: border-box;

}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input, .input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
   
    color: #fff;
}

.contact button {
    padding: 10px 20px;
    background-color: #e60000;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.contact button:hover {
    background-color: #cc0000;
}

.horaires, .coordonnees {
   /* padding: 30px; */
   width: 100px;
}

h5{
    color: red;
}

.map-container iframe {
    width: 100%;
    border: 0;
    border-radius: 10px;
}


footer{
    height: 200px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

footer .logo-footer{
    display: flex;
    justify-content: space-around;
    width: 100px;
    height: 115px;
}

.footer-logo-rs{
   position: absolute;
   top: 0%;
    margin-top: 0;
}
.section-footer{
    height: 200px;
    position: relative;
}